In [10]:
from sklearn import model_selection, datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [7]:
data = datasets.make_classification(10000, 10, n_classes=2, weights=[0.9, 0.1])
X, y = data

In [23]:
data_df = pd.DataFrame(
    X, columns=[f"f_{i}" for i in range(10)]
)
data_df.loc[:, "targets"] = y
data_df["kfold"] = -1
data_df = data_df.sample(frac=1).reset_index(drop=True)
data_df.head()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,targets,kfold
0,2.023108,0.474298,-1.063089,-0.516380,1.968831,-0.062009,-1.690872,0.515878,0.028061,-1.596039,0,-1
1,0.188027,1.291476,0.477812,0.214470,-0.735875,-0.882392,-0.073177,1.938230,0.298600,-0.845662,0,-1
2,-0.201074,-1.069253,2.588585,-0.138883,-1.119434,-1.102629,0.252473,-1.325866,0.214512,-0.542415,0,-1
3,0.315600,-0.831806,0.303596,0.655483,-0.710884,1.169771,-0.170738,1.057241,-0.488760,-1.021557,0,-1
4,0.898768,1.326093,0.498019,-1.201429,-0.464762,1.288310,-0.628767,1.969697,-1.592506,-1.725534,0,-1

In [27]:
k_fold = model_selection.StratifiedKFold(n_splits=5)

for ind, (train, val) in enumerate(k_fold.split(data_df, y=data_df.targets.values)):
    data_df.loc[val, "kfold"] = ind

data_df.head()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,targets,kfold
0,2.023108,0.474298,-1.063089,-0.516380,1.968831,-0.062009,-1.690872,0.515878,0.028061,-1.596039,0,0
1,0.188027,1.291476,0.477812,0.214470,-0.735875,-0.882392,-0.073177,1.938230,0.298600,-0.845662,0,0
2,-0.201074,-1.069253,2.588585,-0.138883,-1.119434,-1.102629,0.252473,-1.325866,0.214512,-0.542415,0,0
3,0.315600,-0.831806,0.303596,0.655483,-0.710884,1.169771,-0.170738,1.057241,-0.488760,-1.021557,0,0
4,0.898768,1.326093,0.498019,-1.201429,-0.464762,1.288310,-0.628767,1.969697,-1.592506,-1.725534,0,0
5,-0.531325,-0.344154,-0.939226,-0.080667,-0.668218,0.318898,0.457884,-0.310993,1.161956,0.304459,0,0
6,-0.510138,-0.409099,0.456242,0.162078,-0.088590,-0.747045,0.389090,-3.179631,-1.491934,0.711979,1,0
7,2.738154,-0.479906,-0.853664,-1.091205,2.064236,0.312982,-2.233620,2.138367,0.231946,-2.615834,0,0
8,0.143044,-0.018000,0.725606,-1.631276,-0.930928,-0.553976,-0.021757,-0.567111,0.990275,-0.924980,0,0
9,0.700214,-1.171991,0.856571,0.769580,-0.815463,0.322177,-0.448428,0.198583,-0.825305,-1.688403,0,0
10,1.826505,1.403874,1.188210,0.256900,1.165990,0.028790,-1.470671,-0.404713,0.515629,-1.905019,0,0
11,3.565978,0.034446,2.267631,0.015563,1.888352,1.625009,-2.835802,0.372408,1.594336,-4.013773,0,0
12,0.418366,0.283871,1.619393,1.435046,-0.812022,-1.274478,-0.238246,-1.350016,0.145337,-1.255281,0,0
13,1.894820,-0.299321,-1.565951,-0.601266,1.608116,-0.992104,-1.562096,-0.834362,0.878584,-1.673834,0,0
14,-0.843226,-0.679958,-0.226376,-0.597732,-2.528868,-0.312411,0.860864,1.698865,0.522353,-0.631188,1,0
15,0.548259,-0.933252,0.211464,-0.366767,-0.777548,-1.028942,-0.338406,0.969625,1.006945,-1.427525,0,0
16,0.600168,0.820019,0.358764,-0.561065,-0.995364,-0.682503,-0.357269,-1.022186,0.000632,-1.672116,0,0
17,0.720708,-0.217098,0.801539,0.047087,-0.622214,-0.450607,-0.481394,-0.101682,0.681895,-1.573047,0,0
18,-0.391861,-1.306300,0.273875,1.109109,0.221884,0.763303,0.272382,-0.790926,0.745593,0.766938,0,0
19,-0.041067,-0.157394,0.453118,-1.217487,-1.254750,1.033575,0.145339,1.728102,0.676805,-0.889510,0,0